<!DOCTYPE html>
<html lang="en" th:fragment="parent(content,title,script,link)" class="dark" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-th-replace="${title}">SCMS</title>
    <link rel="stylesheet" th:href="@{'/css/output.css'}">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <th:block data-th-replace="${link}"></th:block>
</head>

<body class="dark:bg-gray-700 dark:text-white bg-white">
<!-- Navbar -->
 <div data-th-replace="navbar :: navbar">
 </div>

<!--Main Content-->
    <div class="p-4 h-screen w-full ">
        <section data-th-replace="${content}">
        </section>

    </div>
<!--Common Footer-->
<footer class="p-4 text-sm">
    All rights reserved @charan
</footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <th:block data-th-replace="${script}"></th:block>
</body>

</html>